<div ng-include="'./components/includes/navbar.html'"></div>

<div class="container">
    <form class="form row" ng-submit="vm.preRegisterHotel(vm.nuevoHotel)">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="">Foto</label>
                <input type="file" class="form-control" ng-model="vm.nuevoHotel.foto"img-upload>
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.nombre">
            </div>
        <ng-map id="map" center="current-location" styles="width: 50%; height: 20em;">
            <marker position="current-location" draggable="true" on-dragend="vm.getCurrentLocation($event)" coords="marker.coords" options="marker.options"></marker>
        </ng-map>
            <div class="form-group">
                <label for="">Provincia</label>
                <input list="sltProvincia" class="form-control" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevoHotel.provincia)"
                    ng-model="vm.nuevoHotel.provincia" required>
                <datalist id="sltProvincia">
                    <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
                </datalist>
            </div>
            <div class="form-group">
                <label for="">Cantón</label>
                <input list="sltCanton" name="sltCanton" class="form-control" ng-change="vm.rellenarDistrito(vm.nuevoHotel.canton)" ng-model="vm.nuevoHotel.canton"
                    required>
                <datalist id="sltCanton">
                    <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
                </datalist>
            </div>
            <div class="form-group">
                <label for="">Distrito</label>
                <input list="sltDistrito" name="sltDistrito" class="form-control" ng-model="vm.nuevoHotel.distrito" required>
                <datalist id="sltDistrito">
                    <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
                </datalist>
            </div>

        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Direccion</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.direccionExacta">
            </div>
            <div class="form-group">
                <label for="">Telefono</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.telefono">
            </div>
            <div class="form-group">
                <label for="">Telefono de servicio</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.telefonoServicio">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.email">
            </div>
            <div class="form-group">
                <label for="">Email de servicio</label>
                <input type="text" class="form-control" ng-model="vm.nuevoHotel.emailServicio">
            </div>
        </div>
       
        
        <div class="form-group">
            <button type="sumbmit" class="btn btn-default">Registrar</button>
        </div>
    </form>
</div>