<div ng-include="'./components/includes/navbar.html'"></div>


<form class="ancho">
    <h1>Lista de hoteles</h1>
    <div class=" col-12 col-md-4 mt-5 mb-5">
        <label  for="">Buscar</label>
        <input type="text" class="form-control" ng-model="buscarHotel" placeholder="ingrese metodo de busqueda">
    </div>
</form>

   <div class="container ancho">
    <div class="row">
       
        <div class="col-12 col-lg-3 p-2 my-2 d-flex justify-content-between" ng-repeat="hotel in vm.listaHoteles | filter:buscarHotel | orderBy:columna: reverse" ng-if="hotel.estado === 'activo'">
            <div class="card" style="width: 25rem; ">
                <img id="img" ng-hide="ocultar" class="card-img-top p-1 " src="{{hotel.foto}}" alt="Card image cap">
                <div class="card-img-top p-1" >
                    <ng-map class="mapa" ng-show="ocultar" id="mapa" center="{{hotel.latitud}}, {{hotel.longitud}}" style="  width: 100%; height: 175px;">
                        <marker position="{{hotel.latitud}}, {{hotel.longitud}}"></marker>
                    </ng-map>
                </div>


                <div class="card-block p-1">
                    <input type="checkbox" ng-model="ocultar"><span>Mapa</span>
                    <h4 class="card-title p-1">{{hotel.nombre}}</h4>
                    <p class="card-text p-1">Ubicado en {{hotel.getDireccion()}}</p>
                    <p class="card-text p-1">Para informacion contactenos al telefono {{hotel.telefonoServicio}} o al correo {{hotel.emailServicio}}.</p>
                    
                    <a href="#" class="btn btn-primary" >CALIFICAR</a>
                    <button class="btn " type="button" ng-click="vm.editarHotel(hotel)">
                        <i class="far fa-edit"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div> 