<main id="navBar">
  <nav class="navbar navbar-toggleable-sm navbar-light greenBg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="main.registerUser">Registro clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="main.registerHotel">Registro hoteles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="main.listUser">Lista de usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="main.listHotels">Lista de hoteles</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" ng-click="vm.logOut()">Cerrar sesión</a>
        </li> -->
      </ul>
    </div>
  </nav>
</main>